.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}